#topnav {
    background-color: #555;
    color: #FFF;
    border-top: 1px solid;
    border-color: #777;
    font-family: 'Oswald';
}

#topnav .navbar {
    border: none;
    background-color: #555;
}

#topnav .navbar-default {
    border: none;
    border-radius: 0;
}

#topnav .navbar-brand a {
    color: #f4bb2d;
    font-size: 24px;
}

#topnav .navbar-brand a:hover {
    color: #f60;
    text-decoration: none;
}

#topnav .nav {
    float: right !important;
    margin-right: -15px;
    padding-top: 15px;
}

#topnav ul.nav > li,
#topnav ul.nav > li > span.currentbranch0 {
    position: relative;
    display: inline;
    font-size: 17px;
    line-height: 22px;
}

#topnav ul.nav > li > a,
#topnav ul.nav > .expandable > a {
    position: relative;
    display: inline;
    padding: 10px 15px 8px 15px;
    color: #fff;
    border-bottom: 3px solid transparent;
    letter-spacing: 1px;
    font-size: 17px;
    outline: none;
}

/* arrow is only added if a navigation element is expandable */
#topnav ul.nav > .expandable > a:before {
    content: "\f078";
    font-family: FontAwesome;
    padding-left: 10px;
    position: absolute;
    top: 18px;
    right: 0;
    font-size: 8px;
}

/* hide any nested nested uls */
.expandable ul ul {
    display: none;
}

#topnav ul.nav > li > a:hover,
#topnav ul.nav > li > a:focus,
#topnav ul.nav > .expandable > a:hover,
#topnav ul.nav > .expandable > a:focus {
    color: #ddd;
    background-color: transparent;
    -webkit-transition: all 250ms ease 0s;
    -moz-transition: all 250ms ease 0s;
    -o-transition: all 250ms ease 0s;
    -ms-transition: all 250ms ease 0s;
    transition: all 250ms ease 0s;
    text-decoration: none;
}

#topnav ul.multilevel-linkul-0 {
    background-color: #444;
    position: absolute;
    top: 135%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 16px;
    text-align: left;
    list-style: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    display: block;
    border-top: 2px solid #95c244;
}

#topnav ul.multilevel-linkul-0 > li > a {
    display: block;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 5px 20px;
    clear: both;
    color: #fff;
}

#topnav ul.multilevel-linkul-0 > li > a:hover {
    color: #ff8a44;
    background-color: #333;
    text-decoration: none;
}

#topnav .navbar-default .navbar-collapse {
    border-color: rgba(255, 102, 0, .02);
}

#topnav .navbar-default .navbar-toggle {
    border-color: #ff8a44;
    background-color: #333;
}

span.menu-name {
    font-family: 'Oswald';
}

@media (max-width: 1024px) {
    #topnav .nav {
        float: left !important;
    }

    #topnav ul.nav > li,
    #topnav ul.nav > .expandable {
        display: block;
    }

    #topnav ul.nav > li > a,
    #topnav ul.nav > .expandable > a {
        display: block;
        color: #fff;
        padding: 10px 15px 8px 15px;
        border-bottom: none;
    }

    #topnav ul.nav > li > a:hover,
    #topnav ul.nav > li > a:focus,
    #topnav ul.nav > .expandable > a:hover,
    #topnav ul.nav > .expandable > a:focus {
        color: #ddd;
        border-bottom: none;
        text-decoration: none;
    }

    #topnav ul.multilevel-linkul-0 {
        position: relative;
        margin-bottom: 10px;
        -webkit-box-shadow: 0 0 0 transparent;
        box-shadow: 0 0 0 transparent;
        border-top: 2px solid #95c244;
        border-bottom: 2px solid #95c244;
    }
}

#top-collapse .multilevel-linkul-1 {
    display: none;
}

#top-collapse .multilevel-linkul-0 {
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 300ms, opacity 500ms;
}

#top-collapse .nav > li:hover > a+.multilevel-linkul-0 {
    display: block;
    opacity: 1;
    max-height: 100vh;
    visibility: visible;
}

#categories ul > li >ul {
    display: none;
}

.sub-menu-toggle {
    display: none;
}
